.todo-list-item
{
    margin: 0px 80px;
    font-family: monospace;
}

.item
{
    width: 500px;
}

.buttons
{
    background-color: white;
    text-align: center;
    display: inline-block;
    font-size: 12px;
    padding: 5px; 
    margin: auto 20px;

    
}

.buttonsRight
{
    background-color: white;
    text-align: center;
    display: inline-block;
    font-size: 12px;
    padding: 5px; 
    margin: auto 20px auto 500px;
    float: right;
    
    
}